/* Trip */
.trip {
  padding: 1em 1.5em;
  box-sizing: border-box;
}

.trip__heading {
  font-size: 2em;
  font-weight: 800;
  color: #64b8ed;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 0;
}

.trip__subheading {
  font-size: 1.5em;
  font-weight: 800;
  color: #64b8ed;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 0;
  margin-top: 1em;
}

.trip__subheading--box {
  font-size: 1.5em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 0;
  margin-top: 0;
}

.trip__paragraph {
  margin-bottom: 1.5em;
  line-height: 1.6;
  color: #313131;
}

.trip__image {
  max-width: 100%;
}

.trip__list {
  counter-reset: trip-counter;
  list-style: none;
  padding: 0;
}

.trip__item {
  counter-increment: trip-counter;
  position: relative;
  padding-left: 2.2em;
  margin-bottom: 2em;
}

.trip__item a {
  color: #64b8ed;
}

.trip__item::before {
  content: counter(trip-counter);
  position: absolute;
  left: 0;
  top: 0.1em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  border-radius: 50%;
  background: #ffbf00;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

.trip__item:not(:last-child)::after {
  content: "↓";
  position: absolute;
  left: 0.3em;
  top: 1.5em;
  font-size: 1.2em;
  color: #555;
}

.trip__box {
  padding: 2em;
  margin-bottom: 1em;
}

.trip__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip__button {
  width: fit-content;
  display: inline-block;
  padding: 6px 20px;
  background-color: #64b8ed;
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 1em;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

th, td {
  border: 1px solid #4c8fb9;
  padding: 8px;
}

th {
  background-color: #64b8ed;
  color: white;
}

tr:nth-child(even) {
  background-color: #89cbf4;
}

tr:nth-child(odd) {
  background-color: white;
}

.table__heading {
  margin-top: 1em;
  margin-bottom: 0;
}

.poland {
  background-color: #ffbf00;
  border-radius: 1rem 1rem 4rem 4rem;
}

