/* Hero */
.hero {
  width: 100%;
  height: 30vh;
  background-image: url(../../img/alexander-henke-nEMjdYU6g4s-unsplash.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Asap", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding: 1em 2em;
  mask-image: url("../../img/vlna.svg");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: bottom;
  -webkit-mask-image: url("../../img/vlna.svg");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
}

.hero__heading {
  margin-bottom: 0;
  color: white;
  font-size: 3em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.hero__subheading {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.8em;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hero__button {
  width: fit-content;
  display: inline-block;
  padding: 6px 20px;
  background-color: #ffbf00;
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}