/* detail */
.app {
  padding: 1em;
}

.itinerary__heading {
  font-size: 2em;
  font-weight: 800;
  color: #64b8ed;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 0;
}

.itinerary__paragraph {
  margin-bottom: 1.5em;
  line-height: 1.6;
}

.detail {
  margin-top: 2rem;
  box-sizing: border-box;
  border: 1px solid #64b8ed;
  border-radius: 1em;
  overflow: hidden;
}

/* Obrázek a nadpis */
.detail__image-container {
  position: relative;
  width: 100%;
  height: 12em;
  overflow: hidden;
}

.detail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.detail__heading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

/* Tlačítko pro toggle */
.detail__toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 30px;
  width: 30px;
  color: white;
}

.detail__toggle:focus {
  outline: 0;
}

.detail__toggle .fa-times {
  display: none;
}

.detail--active .detail__toggle {
  background-color: #ffbf00;
}

.detail--active .detail__toggle .fa-times {
  display: block;
}

.detail--active .detail__toggle .fa-chevron-down {
  display: none;
}

/* Textová část */
.detail__text {
  padding: 1em;
}

.detail__day {
  color: #64b8ed;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.detail__section-heading {
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.15em;
}

.fa-map-marker-alt {
  color: #ffbf00;
  font-size: 1.2em;
}

.detail__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.detail__item {
  padding: 0;
  margin-bottom: 1em;
}

.detail__link {
  color: #64b8ed;
  text-decoration: none;
}

/* Skrytý text */
.detail--collapsed .detail__text {
  display: none;
}

.detail--active .detail__text {
  display: block;
}