.intro {
  padding: 1em 1.5em;
  box-sizing: border-box;
}

.heading {
  font-size: 2em;
  font-weight: 800;
  color: #64b8ed;
  text-transform: uppercase;
  line-height: 1.15;
  margin-bottom: 0;
}

.paragraph {
  margin-bottom: 1.5em;
  line-height: 1.6;
}

.image {
  max-width: 100%;
  border-radius: 2em;
}

/* transport */
.transport__container {
  background-color: #64b8ed;
  padding: 1.5rem;
}

.text__box {
  box-sizing: border-box;
}

.text__heading {
  color: white;
}

.text__paragraph {
  color: white;
}

.image__picture {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.text__button {
  width: fit-content;
  display: inline-block;
  padding: 6px 20px;
  background-color: #ffbf00;
  border-radius: 10px;
  border: none;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.apartment__container {
  padding: 1.5rem;
}

.apartment__heading {
  color: #64b8ed;
}

.apartment__paragraph {
  color: #313131;
}

.apartment__picture {
  border-radius: 2rem;
  margin-top: 1rem;
}

 .dictionary__container {
  background-color: #64b8ed;
  padding: 1.5rem;
 } 

 .dictionary__picture {
  border-radius: 50%;
 }

  .itinerary__picture {
    border-radius: 2rem;
    margin-top: 1rem;
 }

 .itinerary__container {
  padding: 1.5rem;
 }